.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    height: 90vh;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed green;
}

.heading {
    padding: 10px;
    width: max-content;
    background-color: #0cbde5;
}

.img {
    width: 200px;
}

p {
    text-align: justify;
}

.age {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
